In [104]:
import pandas as pd
import matplotlib.pyplot as plt

# 1 - Load the dataset into a pandas dataframe. Name the variable as “survey”.

In [105]:
survey = pd.read_csv('Survey Dataset.csv')
df = pd.DataFrame(survey) #used df instead of survey
df

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,Male,166,Gen,0.036329
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,243,Gen,0.080137
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,241,Gen,1.797518

# 2. How many samples were collected on each day?

In [106]:
df['collection_date'].value_counts()

5-24-2017    1479
5-25-2017     998
5-28-2017     761
5-27-2017     665
5-29-2017     620
6-1-2017      607
5-26-2017     598
5-30-2017     582
5-31-2017     557
Name: collection_date, dtype: int64

# 3. What proportion of the total respondents were aged less than 45?

In [110]:
df.head()
df.age.unique()
df.age.replace({24:'24'}, inplace = True)
df['age']=df['age'].astype(int)

l_45 = df[df['age']<45].shape[0]
total = df['age'].shape[0]
proportion = l_45/total
proportion

ValueError: invalid literal for int() with base 10: '24ko'

### or can use the second method. Second method is more efficient

In [ ]:
# # Convert 'age' column to numeric and handle non-numeric values
# df['age']= pd.to_numeric(df['age'],errors='coerce') #coerce convert any missing value to default NAN data type. coerce comes from Coercion 
# # Convert 'Age' column to integers while handling NaN values
# df['age'] = pd.to_numeric(df['age'].fillna(-1)).astype(int) #fillna() to fill missing or NaN (Not a Number). We can use -1, 1, 1000 or any value into fillna. It's arbitrary


# less_45 = df[df['age'] < 45].shape[0]
# total = df['age'].shape[0]
# proportion = less_45/total 
# proportion

# 4. Create a new column in the dataframe “age_group”. This column should contain the age group the respondent belongs to. The age groups are 18-25, 25-40, 40-55 and 55+.

In [ ]:
dfd = survey.copy()
dfd.insert(10, 'age_group', survey.age)  #insert(loc, 'column name', value)

dfd.age_group.replace({'24ko':'24'}, inplace=True)
dfd.age_group.unique()
dfd.age_group = dfd.age_group.astype(int)
dfd.age_group.unique()

In [ ]:
data1 = dfd[(dfd.age_group >=18) & (dfd.age_group <=25)]
data1['age_group'] = '18-25'
data1

data2 = dfd[(dfd.age_group >= 25) & (dfd.age_group < 40)]
data2['age_group'] = '25-40'
data2

data3 = dfd[(dfd.age_group >= 40) & (dfd.age_group < 55)]
data3['age_group'] = '40-55'
data3

data4 = dfd[dfd.age_group >= 55]
data4['age_group'] = '55+'
data4

data = pd.concat([data1, data2, data3, data4])
data['age_group'].unique()

data

# 5. How many samples were collected for each age-group? Which age-group had the most samples?

In [109]:
data.age_group.value_counts()

# or
# data['age_group'].value_counts()

25-40    3844
18-25    2692
40-55     801
55+       128
Name: age_group, dtype: int64

# 6. What proportion of the respondents had opted for the RJD party in both the Vote_Now and the Past_Vote questions?

In [117]:
survey[(survey['Vote_Now'] == 'RJD') & (survey['Past_Vote'] == 'RJD')]

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
9,10,5-24-2017,Urban,12th Pass,"₹ 20,000 - ₹ 30,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,26,Male,181,BC,0.713059
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,Male,194,BC,0.769738
19,20,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,37,Male,200,BC,0.936383
21,22,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,29,Male,210,BC,0.713059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6846,6847,6-1-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,31,Male,151,BC,0.483757
6848,6849,6-1-2017,Rural,Post - Graduation,"₹ 30,000 - ₹ 50,000",RJD,RJD,Fully Dissatisfied,Can’t say,27,Male,143,BC,0.200389
6858,6859,6-1-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Fully Satisfied,24,Male,241,Gen,1.812926
6860,6861,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Satisfied,25,Male,145,BC,0.528469
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780